/*Created:29Mar Author:Ye*/

/*body {
  font-family: monospace;
  background-color: #303030;
}*/

div.box {
  width: 300px;
  margin: auto;
  background: rgba(255,255,255,0.7);
  padding: 15px 30px 15px 30px;
}

input {
  font-family: inherit;
  margin: 2px;
}

input:focus {
  background-color: rgba(204, 255, 255, 0.6);
}

button {
  font-family: inherit;
}

h2 {
  margin-top: 0px;
}

h1:hover {
  cursor: pointer;
}

body{
	font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
	text-transform: inherit;
	color: #333;
	background: #e7edee;
	width: 100%;
}
.wrap{
	width: 720px;
	margin: 15px auto;
	padding: 15px 10px;
	background: white;
	border: 2px solid #DBDBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.title, .userName {
  font-weight:700;
}

.post {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.post .title{
  font-style:italic;
}
.post .body{
  margin-top:5px;
}
